@media screen and (max-width: 700px) {
    .home-title {
        font-size: 90px;
    }

    .home-skill {
        font-size: 60px;
    }
}

@media screen and (max-width: 530px) {
    .home-title {
        font-size: 70px;
    }

    .home-skill {
        font-size: 40px;
    }

    .about-me {
        height: 200vh;
    }
}

@media screen and (max-width: 500px) {
    .links {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .btn-link {
        margin: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .contact-me {
        height: 150vh;
    }
}

@media screen and (max-width: 400px) {
    .home-title {
        font-size: 60px;
    }

    .habilidades h1 {
        font-size: 60px;
    }

    .skills-tec {
        padding-right: 20px;
    }

    .proyectos {
        height: 300vh;
    }

    .pro-card {
        height: 500px;
    }

    .contact-me h1 {
        font-size: 50px;
    }

    .gmail {
        font-size: 20px;
    }

    .contact span{
        font-size: 20px;
    }

    .proyectos h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 370px) {
    .home-title {
        font-size: 50px;
    }

    .about-me h1 {
        font-size: 50px;
    }

    .row1 span {
        margin-left: 10px;
    }

    .habilidades {
        height: 190vh;
    }

    .pro-card {
        height: 550px;
    }

    .proyectos {
        height: 320vh;
    }
}

@media screen and (max-width: 330px) {
    .habilidades {
        height: 205vh;
    }

    .contact-me h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 991px) {
    .about-me {
        height: 150vh;
    }

    .habilidades {
        height: 185vh;
    }

    .habilidades h1 {
        font-size: 80px;
    }
    
    .len-habilities {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .skills-tec {
        width: 100%;
    }

    .row1 {
        grid-row-gap: 20px;
    }
    
    .row2 {
        grid-row-gap: 20px;
    }
    
    .skills-row {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .lenguajes {
        width: 100%;
        margin-top: 30px;
    }

    .soft-skills {
        width: 100%;
    }

    .pro-card {
        width: 60%;
    }

    .proyectos {
        height: 280vh;
    }

    .contact-me {
        height: 120vh;
    }

    .contact-me h1 {
        font-size: 60px;
    }

    .contact {
        flex-direction: column;
    }

    .ways-to-contact {
        width: 100%;
    }

    .gmail {
        font-size: 30px;
    }

    .contacts span {
        font-size: 30px;
    }

    .location {
        width: 100%;
        margin-top: 3.5rem;
    }
}