@media screen and (max-width: 700px) {
    .home-title {
        font-size: 90px;
    }

    .home-skill {
        font-size: 60px;
    }
}

@media screen and (max-width: 530px) {
    .home-title {
        font-size: 70px;
    }

    .home-skill {
        font-size: 40px;
    }

    .about-me {
        height: 200vh;
    }
}

@media screen and (max-width: 500px) {
    .links {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .btn-link {
        margin: 0;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .contact-me {
        height: 150vh;
    }
}

@media screen and (max-width: 400px) {
    .home-title {
        font-size: 60px;
    }

    .habilidades h1 {
        font-size: 60px;
    }

    .skills-tec {
        padding-right: 20px;
    }

    .proyectos {
        height: 300vh;
    }

    .pro-card {
        height: 500px;
    }

    .contact-me h1 {
        font-size: 50px;
    }

    .gmail {
        font-size: 20px;
    }

    .contact span{
        font-size: 20px;
    }

    .proyectos h1 {
        font-size: 60px;
    }
}

@media screen and (max-width: 370px) {
    .home-title {
        font-size: 50px;
    }

    .about-me h1 {
        font-size: 50px;
    }

    .row1 span {
        margin-left: 10px;
    }

    .habilidades {
        height: 190vh;
    }

    .pro-card {
        height: 550px;
    }

    .proyectos {
        height: 320vh;
    }
}