/*{Laptop Design}*/

@media screen and (max-width: 992px){
    .about-me {
        height: 160vh;
    }

    .skills-tec {
        padding-right: 25px;
    }

    .lenguajes {
        width: 35%;
    }

    .habilidades {
        height: 130vh;
    }

    .pro-card {
        width: 55%;
        height: 35%;
    }

    .proyectos {
        height: 270vh;
    }

    .contact-me {
        height: 100vh;
    }
}

/*{For my laptop design}*/

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .about-me {
        height: 130vh;
    }

    .habilidades {
        height: 145vh;
    }

    .pro-card {
        width: 45%;
    }

    .proyectos {
        height: 300vh;
    }

    .contact-me {
        height: 100vh;
    }
}

/*{Landscape Tablets}*/

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    .skills {
        position: fixed;
        width: 100%;
        height: 0vh;
        background: #000;
        opacity: 0.9;
        top: 80px;
        display: none;
        transition: all .5s;
        text-align: center;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .skills li {
        display: none;
    }

    #check:checked~.skills {
        height: 100vh;
    }

    #check:checked~.skills li {
        display: block;
    }

    .skills li a {
        font-size: 30px;
    }

    a:hover,
    a:active {
        background: none;
        color: #fff;
    }
}

/*{Movile Devices}*/

@media screen and (max-width: 480px) {
    main{
        max-width: 100vw;
    }

    .home-title {
        font-size: 80px;
    }

    .home-skill {
        font-size: 50px;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .links a {
        text-align: center;
    }

    .btn-link {
        margin: 0;
        margin-top: 20px;
    }

    .info {
        display: grid;
        grid-template-rows: 25% 1fr;
        grid-row-gap: 20px;
    }

    .personal-img {
        margin: auto;
    }

    .texts {
        margin: auto;
        width: 100%;
        max-width: 80%;
    }

    .about-me {
        height: 200vh;
    }

    .habilidades {
        height: 190vh;
    }

    .habilidades h1 {
        font-size: 80px;
    }
    
    .len-habilities {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .skills-tec {
        width: 100%;
    }

    .row1 {
        grid-row-gap: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .row2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .skills-row {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .lenguajes {
        width: 100%;
        margin-top: 30px;
    }

    .soft-skills {
        width: 100%;
    }

    .proyectos {
        height: 300vh;
    }

    .pro-card {
        width: 100%;
        max-width: 80%;
    }

    .links-btn-pro {
        margin: auto;
    }

    .contact-me {
        height: 150vh;
    }

    .contact-me h1 {
        font-size: 60px;
    }

    .contact {
        flex-direction: column;
    }

    .ways-to-contact {
        width: 100%;
    }

    .gmail {
        font-size: 30px;
    }

    .contacts span {
        font-size: 30px;
    }

    .location {
        width: 100%;
        margin-top: 3.5rem;
    }
}

@media screen and (max-width: 767px) {
    .home-title {
        font-size: 100px;
    }

    .home-skill {
        font-size: 60px;
    }

    .about-title {
        font-size: 80px;
    }

    .info {
        display: grid;
        grid-template-rows: 25% 1fr;
        grid-row-gap: 50px;
    }

    .personal-img {
        margin: auto;
    }

    .texts {
        margin: auto;
        width: 100%;
        max-width: 80%;
    }

    .about-me {
        height: 180vh;
    }

    .habilidades {
        height: 185vh;
    }

    .habilidades h1 {
        font-size: 80px;
    }
    
    .len-habilities {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .skills-tec {
        width: 100%;
    }

    .row1 {
        grid-row-gap: 20px;
    }
    
    .row2 {
        grid-row-gap: 20px;
    }
    
    .skills-row {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .lenguajes {
        width: 100%;
        margin-top: 30px;
    }

    .soft-skills {
        width: 100%;
    }

    .proyectos {
        height: 280vh;
    }

    .pro-card {
        width: 100%;
        max-width: 80%;
    }

    .links-btn-pro {
        margin: auto;
    }

    .contact-me {
        height: 130vh;
    }

    .contact-me h1 {
        font-size: 60px;
    }

    .contact {
        flex-direction: column;
    }

    .ways-to-contact {
        width: 100%;
    }

    .gmail {
        font-size: 30px;
    }

    .contacts span {
        font-size: 30px;
    }

    .location {
        width: 100%;
        margin-top: 3.5rem;
    }
}